*
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.test
{
    color: blueviolet;
}

.titre
{
    text-align: center;
}

.dark
{
    background-color: #222;
    color: #e6e6e6;
}
            
.mode 
{
    float:right;
}
            
.change 
{
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

a:visited
{
    color:  #1122CC
}

footer
{
    border:black, solid, 3px;
}

