*
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: left;
}

.titre
{
    text-align: center;
}

.dark
{
    background-color: #222;
    color: #e6e6e6;
    outline-color: white;
}

.mode 
{
    float:right;
}

.change 
{
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

a:visited
{
    color: #1122CC
}

img
{
    height:140px;
    width:140px; 
}

footer
{
    text-align: center;
    outline: 1px solid black
}
